body{
	margin: 0 auto;
	background-color:#340059 
}
.container{
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 4px;
	margin-top: 150px;
}
.container img{
	width: 120px;
	height: 120px;
	margin-top: -80px;
	margin-bottom: 30px;
}
input[type="text"],input[type="password"],input[type="email"]{
	height: 45px
	width:300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color:  #66b3ff;
	padding-left: 30px;

}
.btn-login{
	padding: 15px 30px;
	cursor: pointer;
	color: #fff;
	border: none;
	background-color: #340059 ;
	border-radius: 4px;
}
a{
	text-decoration:none;
	color: red;
}
